@import '../fonts';

.email-inputs {
  align-content: flex-start;
  background: #ffffff;
  border: 1px solid #c3c2cf;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: 'OpenSans', serif;
  font-size: 14px;
  height: 100px;
  padding: 4px 7px;
  width: 100%;
}
