@import '../fonts';

.email-inputs {
  background: #ffffff;
  border: 1px solid #c3c2cf;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'OpenSans', serif;
  font-size: 14px;
  height: 100px;
  padding: 4px 7px;
  width: 100%;
}
