.email-inputs {
  .new-email-input {
    border: 0;
    font-family: 'OpenSans', serif;
    font-size: 14px;
    line-height: 24px;

    &::placeholder {
      color: #c3c2cf;
    }

    &:focus {
      outline: none;
    }
  }
}
